[Unit]
Description={{ tomcat_service_name }}
After=network.target

[Service]
Type=forking
User={{ tomcat_server_user }}
Group={{ tomcat_server_group }}

Environment=CATALINA_PID={{ tomcat_home }}/{{ tomcat_service_name }}.pid
Environment=TOMCAT_JAVA_HOME={{tomcat_java_home}}
Environment=CATALINA_HOME={{ tomcat_home }}
Environment=CATALINA_BASE={{ tomcat_home }}
Environment=CATALINA_OPTS=
Environment="JAVA_OPTS=-Dfile.encoding=UTF-8 -Dnet.sf.ehcache.skipUpdateCheck=true -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:+UseParNewGC -XX:MaxPermSize{{ tomcat_max_perm_size }} -Xms{{ tomcat_heap_min }} -Xmx{{ tomcat_heap_max }}"

ExecStart={{ tomcat_home }}/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
